body{
    font-family: 'Potta One', cursive;
}
.intro{
    font-size:30px;
    margin-top: 20px;
    padding-top: 25px;
    border:#555 1px solid;
}
#start{
    width:100%;
    font-size: 50px;
    font-family: 'Potta One', cursive;
    background:#e79090;
    /* border:#555 5px solid; */
    border-radius: 15px;
    cursor: pointer;
    
}
#start:hover{
    background:#e08484;
}
#submit{
    background:#e2ba63;
}
#submit:hover{
    background:#d3ac57;
}
.row{
    margin-top:15px;
}
.col{
    display: inline-block;
    text-align:center;
}
.right-col{
    border-left: black 2px solid;
}
p{
    font-size: 30px;
    padding-top: 20px;
}
.hole{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: lightslategray;
    margin: 10px;
}
.rat{
    /* display: none; */
    width: 100%;
    height: auto;
    cursor: pointer;
}
.cow{
    /* display: none; */
    width: 100%;
    height: auto;
    cursor: pointer;
}

.form{
    margin-top: 20px;
}
table{
    width: 100%;
    font-size: 20px;
    margin-top: 50px;
    margin-top: 30px;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
}
.tb-header{
    background-color: rgb(160, 156, 156);
}
thead,
td {
    border: 1px solid #333;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* height: 0px; */
}
footer p{
    font-size: medium;
    
}
.egg{
    position: absolute; 
    text-align: center;
}
.egg-img{
    margin:0 auto;
    width: 682.2px;
}
.egg-text-1{
    color:rgb(39, 39, 114);
    font-size:50px;
}
.egg-text-2{
    color:rgb(255, 91, 27);
    font-size:50px;
}
.egg-text-3{
    color:rgb(228, 167, 0);
    font-size:50px;
}
@media (min-width: 990px){
    footer{
        position: relative;
    }

}